spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  security:
    user:
      name: ${SWAGGER_USER:admin}
      password: ${SWAGGER_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    root: WARN
    com.starter: INFO
